.contact-details {
    padding-top: 20%;
    display: flex;
    flex-direction: column;

    .pic-container {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }
    }
    .details{
        text-align: center;
        padding-top: 10%;

        h5{
            margin: 0 0;
        }
    }
}